.loader-wrap {
	background: #ebebeb;
	bottom: 0;
	left: 0;
	opacity: 1;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 99999;
	-webkit-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
}

.loader-wrap .title-bar {
	height: 85px;
	margin: 0 auto 60px;
	position: relative;
	text-align: left;
	width: 200px;
}

.loader-wrap.hide {
	opacity: 0;
	pointer-events: none;
}

.loader-inner {
	height: auto;
	left: 50%;
	margin: -100px 0 0 -262px;
	position: absolute;
	top: 50%;
	width: 525px;
}

.loader-logo {
	margin: 0 auto 60px;
	width: 400px;
}

#loader {
	background: #fff;
	color: #fff;
	font: 38px/50px 'knockout', Arial, sans-serif;
	height: 55px;
	letter-spacing: 4px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
	width: 80%;
	z-index: 1;
	text-transform: uppercase;
	line-height: 55px;
	border: 4px solid #f6c72a;
}

#loader span {
	position: relative;
	z-index: 2;
}

#loader .loader-bar {
    background: #f6c72a;
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    z-index: 1;
    -webkit-transition: width 0.8s ease-out;
    transition: width 0.8s ease-out;
}