/* Main CSS */

html, body {
	height: 100%;
}

html {
	font-family: Helvetica, Arial, sans-serif;
	text-align: center;
	-webkit-text-size-adjust: 100%;
	-webkit-user-select: none;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

*,
*:before,
*:after {
	-webkit-box-sizing: inherit;
	box-sizing: inherit;
}

.clear {
	clear: both;
}

body {
	background: #fff;
	color: #000;
	font-family: "HelveticaNeue-CondensedBold", "HelveticaNeueBoldCondensed", "HelveticaNeue-Bold-Condensed", "Helvetica Neue Bold Condensed", "HelveticaNeueBold", "HelveticaNeue-Bold", "Helvetica Neue Bold", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosCnBold', "Helvetica", "Tahoma", "Geneva", "Arial Narrow", "Arial", sans-serif; 
	font-weight: 600;
	font-stretch: condensed;
	margin: 0;
}

canvas {
	height: 280px;
	width: 10px;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

button {
	outline: none;
}

.header {
	margin-bottom: 40px;
	text-align: left;
}

#master {
    background: #fff;
    height: 66px;
    margin: -20px -20px 20px;
    padding: 20px 40px 30px 40px;
}

#master .track {
	margin: 0;
	width: 475px;
}

#master .track .fader {
	background: #000;
}

.mixer-case {
	height: 1269px;
	position: relative;
	width: 557px;
}

.mixer-body {
	height: 1269px;
	opacity: 0;
	overflow: hidden;
	width: 557px;
	-webkit-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
}

.mixer-body.show {
	opacity: 1;
}

.title-bar {
	height: 85px;
	position: relative;
	text-align: left;
	width: 100%;
}

.title-bar:before {
	background: #f6c72a;
	content: '';
	height: 100%;
	left: 0;
	position: absolute;
	width: 45px;
	z-index: 0;
}

.title-bar .logo {
    color: #000;
    font: normal 56px/1 'knockout', Arial, sans-serif;
    margin: 0;
    text-transform: uppercase;
    padding: 14px 0 0 22px;
    position: relative;
    z-index: 1;
}

.mixer-bits {
	
}

#mixer {
	background: #ebebeb;
	padding: 20px;
	height: 100%;
	overflow: hidden;
}

.channel {
	overflow: hidden;
	padding: 20px;
	position: relative;
	background: #fff;
	margin-bottom: 5px;
}

.channel .label:after {
	display: inline-block;
	margin: 0 0 0 5%;
}

.channel.inactive {
	opacity: 0.25;
	pointer-events: none;
}

.channel.inactive .label {
	color: #000;
}

.channel.inactive .label:after,
.empty-columns,
.channel.inactive .fader {
	display: none;
}

.channel.inactive .track {
	position: relative;
	top: -28px;
}

.channel.muted-col {
	opacity: 0.2;
}

.btn-wrap {
    float: right;
    margin-top: -12px;
    margin-right: -10px;
    overflow: hidden;
    width: 100px;
}

.btn {
	color: #131519;
	cursor: pointer;
	float: left;
	font-size: 12px;
	height: 20px;
	line-height: 17px;
	margin: 0;
	text-shadow: 0 1px 1px rgba(200,200,240,.15);
}

.mute, 
.solo {
	background: none;
	color: #d4d4d4;
	display: block;
	height: 43px;
	padding: 0;
	position: relative;
	width: 50%;
	-webkit-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}

.mute span,
.solo span {
	display: none;
}

.mute.active {
	color: #f6c72a;
}

.mute:before,
.solo:before {
	font-size: 34px;
	display: block;
	line-height: 1;
}

.solo.active {
	color: #f6c72a;
}

.track {
	background: #ebebeb;
	float: left;
	height: 15px;
	margin: 25px 0 0 0;
	position: relative;
	width: 475px;
}

.track .fader {
	background: #f6c72a;
	left: 460px;
}

.track .fader-slot {
	display: block;
	height: 15px;
	width: 0;
	background: #f6c72a;
	position: absolute;
	top: 0px;
}

.track canvas {
	opacity: 0;
}

.label {
	color: #8e8e8e;
	float: left;
	font-size: 18px;
	font-weight: bold;
	line-height: 1;
	letter-spacing: 1px;
	margin: 0;
}

.fader {
	background: #000;
	cursor: -webkit-grab;
	height: 22px;
	left: auto;
	position: absolute;
	top: -4px !important;
	width: 22px;
	-webkit-border-radius: 40px;
	border-radius: 40px;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.fader:focus,
.fader:active {
	cursor: -webkit-grabbing;
}

#controls {
	height: 120px;
	overflow: hidden;
	padding: 20px 40px;
}

#controls .buttons {
    display: block;
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 260px;
    margin: 0 auto;
}

#controls .buttons .icon-play,
#controls .buttons .icon-pause {
	color: #000;
	display: block;
	font-size: 40px;
	height: 100%;
	left: 50%;
	position: absolute;
	text-indent: 0;
	width: 50%;
	z-index: 1;
	-webkit-transition: all 0.25s ease-in-out 1s;
	transition: all 0.25s ease-in-out 1s;
}

#controls .buttons .icon-play:before,
#controls .buttons .icon-pause:before {
	position: relative;
    top: 20px;
}

.power-on #controls .buttons .icon-play,
.power-on #controls .buttons .icon-pause {
	color: #00d9de;
}

#controls .buttons .icon-pause {
    font-size: 40px;
    left: 0;
    z-index: 1;
}

.buttons {
	display: inline-block;
	position: relative;
}

.btn-cntrl {
	background: none;
	color: #000;
	display: block;
	float: left;
	font-size: 12px;
	height: 80px;
	margin: 0 4px;
	padding: 0;
	width: 80px;
	position: relative;
}

.btn-cntrl.rw {
	margin-left: 0;
}

.btn-cntrl.play {
	margin-right: 0;
	width: 170px;
}

.btn-cntrl.play:before,
.btn-cntrl.play:after,
.btn-cntrl.rw:before {
    display: block;
    font-family: 'tunimixer' !important;
    font-size: 76px;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    line-height: 80px;
    speak: none;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 100%;
    height: 100%;
}

.btn-cntrl.play:before,
.btn-cntrl.play:after {
	float: left;
	width: 80px;
	height: 80px;
}

.btn-cntrl.play:before {
	content: '\e900';
}

.btn-cntrl.play:after {
	content: '\e901';
	margin-left: 8px;
}

.btn-cntrl.play.paused:after {
	color: #f6c72a;
	border-color: #f6c72a;
}

.playing .btn-cntrl.play:before {
	color: #f6c72a;
	border-color: #f6c72a;
}

.btn-cntrl.rw {
	opacity: 0.25;
	pointer-events: none;
	-webkit-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
}

.playing .btn-cntrl.rw {
	opacity: 1;
	pointer-events: all;
}

.btn-cntrl.rw:before {
	content: '\e904';
}