/* Main CSS */

html, body {
	height: 100%;
}

html {
	font-family: Helvetica, Arial, sans-serif;
	text-align: center;
	-webkit-text-size-adjust: 100%;
	-webkit-user-select: none;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

*,
*:before,
*:after {
	-webkit-box-sizing: inherit;
	box-sizing: inherit;
}

.clear {
	clear: both;
}

body {
	background: #000;
	font-family: 'Helvetica', sans-serif;
	margin: 0;
}

canvas {
	height: 280px;
	width: 10px;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-border-radius: 2px;
	border-radius: 2px;
}

button {
	outline: none;
}

.header {
	margin-bottom: 40px;
	text-align: left;
}

#master {
	display: none;
}

.mixer-case {
	height: 1269px;
	position: relative;
	width: 557px;
}

.mixer-body {
	height: 1269px;
	opacity: 0;
	overflow: hidden;
	width: 557px;
	-webkit-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
}

.mixer-body.show {
	opacity: 1;
}

.title-bar {
	background: #FBFF00;
	border-right: 1px solid #000;
	float: left;
	height: 100%;
	position: relative;
	width: 80px;
}

.title-bar h1 {
	bottom: 130px;
	color: #242424;
	font-size: 60px;
	font-weight: normal;
	left: -110px;
	margin: 0;
	opacity: 0.5;
	position: absolute;
	text-shadow: -1px 1px 0 rgba(0,0,0,0.6);
	-webkit-transition: all 0.25s ease-in-out 1s;
	transition: all 0.25s ease-in-out 1s;
	-webkit-transform: rotate(-90deg);
	transform: rotate(-90deg);
}

.power-on .title-bar h1 {
	opacity: 1;
}

.mixer-bits {
	background: #242424;
	float: left;
	height: 100%;
	width: 477px;
}

#mixer {
	height: 100%;
	overflow: hidden;
}

.channel {
	border-top: 1px solid #000;
	overflow: hidden;
	padding: 30px 20px;
	position: relative;
}

.channel .label:after {
	display: inline-block;
	margin: 0 0 0 5%;
}

.channel.inactive {
	opacity: 0.2;
	pointer-events: none;
}

.channel.inactive .label {
	color: #000;
}

.channel.inactive .label:after,
.empty-columns,
.channel.inactive .fader {
	display: none;
}

.channel.muted-col {
	opacity: 0.2;
}

.btn-wrap {
	clear: both;
	float: left;
	overflow: hidden;
	width: 90px;
}

.btn {
	color: #131519;
	cursor: pointer;
	float: left;
	font-size: 12px;
	height: 20px;
	line-height: 17px;
	margin: 0;
	text-shadow: 0 1px 1px rgba(200,200,240,.15);
}

.mute, 
.solo {
	background: none;
	color: #fff;
	display: block;
	height: 43px;
	padding: 0;
	position: relative;
	width: 50%;
	-webkit-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}

.mute span,
.solo span {
	display: none;
}

.mute.active {
	color: #cb0043;
	text-shadow: 0 0 10px rgba(203,0,67,0.3);
}

.mute:before,
.solo:before {
	font-size: 34px;
	display: block;
	line-height: 1;
}

.solo.active {
	color: #00d9de;
	text-shadow: 0 0 10px rgba(0,217,222,0.3);
	-webkit-transform: scale(0.9999);
	transform: scale(0.9999);
}

.track {
	background: #14171a;
	border-left: 1px solid #1b1d20;
	border-right: 1px solid #1b1d20;
	float: left;
	height: 10px;
	margin: 15px 0 0 25px;
	position: relative;
	width: 320px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	-webkit-box-shadow: inset 0px 0px 5px 0px #101214;
	box-shadow: inset 0px 0px 5px 0px #101214;
}

.track .fader {
	left: 280px;
}

.track canvas {
	background: rgba(0,0,0,0.1);
	border: 1px solid rgba(0,0,0,0.06);
	height: 319px;
	margin: -154px 0 0 -4px;
	position: absolute;
	top: 0;
	width: 10px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}

.label {
	color: #000;
	float: left;
	font-size: 16px;
	font-weight: bold;
	line-height: 1;
	margin: 0 0 20px 0;
	text-shadow: 0 1px 1px rgba(200,200,240,0.1);
	text-transform: uppercase;
	-webkit-transition: all 0.25s ease-in-out 1s;
	transition: all 0.25s ease-in-out 1s;
}

.power-on .label {
	color: #fff;
	text-shadow: 0 0 10px rgba(0,217,222,0.3);
}

.fader {
	background: #ffffff;
	box-shadow: 0 4px 12px rgba(0,0,0,0.85);
	cursor: -webkit-grab;
	height: 40px;
	left: auto;
	position: absolute;
	top: -18px !important;
	width: 40px;
	-webkit-border-radius: 40px;
	border-radius: 40px;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.fader:focus,
.fader:active {
	cursor: -webkit-grabbing;
}

#controls {
	height: 124px;
	overflow: hidden;
	padding: 20px 40px;
}

#controls .buttons {
	display: block;
	height: 100%;
	overflow: hidden;
	position: relative;
	width: 100%;
}

#controls .buttons .icon-play,
#controls .buttons .icon-pause {
	color: #000;
	display: block;
	font-size: 40px;
	height: 100%;
	left: 50%;
	position: absolute;
	text-indent: 0;
	width: 50%;
	z-index: 1;
	-webkit-transition: all 0.25s ease-in-out 1s;
	transition: all 0.25s ease-in-out 1s;
}

#controls .buttons .icon-play:before,
#controls .buttons .icon-pause:before {
	position: relative;
    top: 20px;
}

.power-on #controls .buttons .icon-play,
.power-on #controls .buttons .icon-pause {
	color: #00d9de;
}

#controls .buttons .icon-pause {
    font-size: 40px;
    left: 0;
    z-index: 1;
}

.buttons {
	display: inline-block;
	position: relative;
}

.btn-cntrl {
	background: #242424;
	border: 3px solid #111;
	color: #111;
	display: block;
	font-size: 12px;
	height: 100%;
	left: 0;
	letter-spacing: 1px;
	line-height: 2;
	padding: 0;
	position: absolute;
	text-transform: uppercase;
	top: 0;
	width: 50%;
	z-index: 5;
	-webkit-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
}

.btn-cntrl.play {
	left: 50%;
}

.playing .btn-cntrl.play {
	color: #FBFF00;
}

.btn-cntrl.play.paused:before,
.btn-cntrl.play:before,
.btn-cntrl.rw:before {
	display: block;
	font-family: 'tuniversity' !important;
	font-size: 40px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	line-height: 1;
	margin: -3px 0 0px;
	speak: none;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.btn-cntrl.play.paused:before {
	content: '\e900';
}

.btn-cntrl.play:before {
	content: '\e901';
}

.btn-cntrl.rw {
	opacity: 0.25;
	pointer-events: none;
	-webkit-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
}

.playing .btn-cntrl.rw {
	opacity: 1;
	pointer-events: all;
}

.btn-cntrl.rw:before {
	content: '\e904';
}